<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print AccountStatement</title>
    <link rel="stylesheet" href="../static/css/statement.css">
</head>

<body>

    <div class="printContainer">
        <div class="printCont">
            <div class="printHeader">
                <div class="contentSquare">
                    <h1>Benjamin Francis Chizaram</h1>
                </div>
                <div class="contentSquare">
                    <h2>Account Statement</h2>
                </div>
                <div class="contentSquare">
                    <div class="img">
                        <img src="">
                    </div>
                </div>
            </div>
            <div class="printBody">
                <div class="printContentBox">
                    <div class="topSquare">
                        <div class="sect">
                            <ul>
                                <li><strong>Print Date:</strong> November 24 2020</li>
                                <li><strong>Account Number:</strong> 0242532470 - (241/258/235698)</li>
                                <li><strong>Period:</strong> November 1, 2020 - November 24 2020</li>
                                <li><strong>Total Debit:</strong> 10,000000.54</li>
                                <li><strong>Branch Name:</strong> IDI-ORO</li>
                                <li><strong>Debit Count:</strong> 14</li>
                                <li>012565556897889556565665</li>
                            </ul>
                        </div>
                        <div class="sect">
                            <ul>
                                <li><strong>Address:</strong> My test address here</li>
                                <li><strong>Currency: </strong> Naira</li>
                                <li><strong>Opening Balance:</strong> 92.42</li>
                                <li><strong>Closing Balance:</strong> 627.92</li>
                                <li><strong>Credit Count:</strong> 3</li>
                                <li><strong>Total Credit:</strong> 11,000.00</li>
                                <li><strong>Account Type:</strong> Savings Account</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tableData">
                        <table>
                            <tr>
                                <th>Trans Date</th>
                                <th>Reference</th>
                                <th>Value Date</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                                <th>Remarks</th>
                            </tr>
                            <tr>
                                <td>02-Nov-2020</td>
                                <td>0</td>
                                <td>02-Nov-2020</td>
                                <td></td>
                                <td>2,000</td>
                                <td>2,092.42</td>
                                <td>TRANSFER BETWEEN CUSTOMERS - BLAH BLAH BAL</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>